.container-fluid {
    color: yellow;
    /* This style code is not working for some reason */
}
.card-body {
    color: rgb(20, 202, 178);
    font-size: 40px;
}
.img-fluid {
    width: 100%;
    height: auto;
    padding: 5%;
}
p {
    padding: 5%;
}