.card-body {
    background-color:black;
    color: white;
    font-size: 40px;
}
.img-fluid {
    width: 100%;
    height: auto;
    padding: 5%;
}
p {
    padding: 5%;
    color: black;
    font-size: large;
}
body {
    background-image: url("https://thumbs.dreamstime.com/b/white-wood-wall-texture-background-panels-graphic-resources-149622903.jpg");
   }
strong {
    color: black;
}